
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    list-style-type: none;
}

.listItem{
    text-decoration: underline;
    display: inline-block;
    padding: 0 .5% 0 .5%;

}