.container{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 2.5% 90% 2.5%;
    grid-template-rows: auto
}

.header{
    border-bottom: 1px solid green;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    align-self: start;
    grid-column: 2/3;
    grid-row: 1/2;
}

.header h3{
    margin: 0;
    margin-top: 2%;
    display: block;
}

.errors{
    color: red;
}

.errors span{
    display: block;
}

.expandCollapse{
    width: 10%;
    text-align: right;
    align-self: flex-end;
}

.expandCollapse:hover i{
    cursor: pointer;
}

.form{
    margin-top: 2%;
    align-self: start;
    justify-self: center;
    grid-column: 2/3;
    grid-row:1/2;
    display: block;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.minMaxTitle{
    display: block;
}

/*TsunamiSourceParameters Form Section*/
.formSectionOne{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2.5% 95% 2.5%;
    justify-items: start;
    align-items: start;
    width: 100%;
    height: auto;
}

.formInnerSectionOne{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 100%;
    justify-items: start;
    align-items: center;
    width: 100%;
    height: auto;
}

@each $tsource $i in (year, month, day, location, country, region, area, measure, maxHt, horiz, period, firstMotion,
latitude, longitude, arrival, travel, maxArrival, doubtful, damage, housesDestroyed, deaths, injuries, missing,
comments){
    .$tsource{
        grid-column: 1/2;
        grid-row: calc($i + 2)/ calc($i + 3);
        width: 100%;
    }

    .$tsource div {
        display: inline-block;
    }
}

/*TsunamiRunupByPlace Form Section*/
.formSectionTwo{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2.5% 95% 2.5%;
    justify-items: start;
    align-items: center;
    width: 100%;
    height: auto
}

.formInnerSectionTwo{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 100%;
    justify-items: start;
    align-items: center;
    width: 100%;
    height: auto
}
@each $place $j in (rnpRegion, rnpCountries, rnpStates, rnpProvince, rnpIndoProv, rnpJpPre, rnpDistance, travHrs,
rnpLocType, rnpLoc){
    .$place{
        grid-column: 1/2;
        grid-row: calc($j + 2)/ calc($j + 3);
    }

    .$place div{
        display: inline-block;
    }
}



.searchButton{
    margin: 2%;
    padding: .5% 2% .5% 2%;
    background-color: transparent;
    color: rgb(102,102,102);
    border: .5px solid rgb(102,102,102);
    text-transform: uppercase;

    outline: 0;
}

.searchButton:hover{
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.searchButton:focus{
    outline: none;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2)
}

.minMaxHeader{
    margin-right: 1%;
}