.container{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 2.5% 90% 2.5%;
    grid-template-rows: auto
}

.header{
    border-bottom: 1px solid green;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: start;
    grid-column: 2/3;
    grid-row: 1/2;
}

.header h3{
    margin: 0;
}

.errors{
    color: red;
}

.errors span{
    display: block;
}

.expandCollapse{
    width: 95%;
    text-align: right;
}

.expandCollapse:hover i{
    cursor: pointer;
}

.form{
    margin-top: 2%;
    align-self: start;
    justify-self: center;
    grid-column: 2/3;
    grid-row:1/2;
    display: block;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.formSectionOne{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 2.5% 95% 2.5%;
    justify-items: start;
    align-items: center;
    width: 100%;
    height: auto;
}

.formSectionTwo{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 2.5% 95% 2.5%;
    justify-items: start;
    align-items: center;
    width: 100%;
    height: auto
}
.formSectionThree{
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto ;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto
}

.year{
    align-self: left;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
}

.year div{
    display: inline-block;
}

.region{
    grid-column: 2/3;
    grid-row: 3/4;
}

.minMaxTitle{
    margin-right: 2%;
}

.country{
    grid-column: 2/3;
    grid-row: 4/5;
    display: block;
}

.state{
    grid-column: 2/3;
    grid-row: 5/6;
}

.province{
    grid-column: 2/3;
    grid-row:6/7;
}

.latLong{
    grid-column: 2/3;
    grid-row: 7/8
}

.latLong div{
    display: inline-block;
}

.validity{
    grid-column: 2/3;
    grid-row: 8/9
}

.cause{
    grid-column: 2/3;
    grid-row: 9/10
}
.cause div{
    display: inline-block;
}

.eqMag{
    grid-column: 2/3;
    grid-row: 10/11;
}

.eqMag div{
    display: inline-block;
}

.locType{
    grid-column: 2/3;
    grid-row: 11/12;
}

.locType div{
    diplay: inline-block;
}

.loc{
    grid-column: 2/3;
    grid-row: 12/13
}

.rnpRegion{
    grid-column:2/3;
    grid-row: 2/3;
}

.rnpCountries{
    grid-column:2/3;
    grid-row: 3/4;
}

.rnpStates{
    grid-column:2/3;
    grid-row: 4/5;
}

.rnpProvince{
    grid-column:2/3;
    grid-row: 5/6;
}

.rnpIndoProv{
    grid-column:2/3;
    grid-row: 6/7;
}

.rnpJpPre{
    grid-column:2/3;
    grid-row: 7/8;
}

.rnpDistance{
    grid-column:2/3;
    grid-row: 8/9;
}

.travHrs{
    grid-column:2/3;
    grid-row: 9/10;
}

.rnpLocType{
    grid-column:2/3;
    grid-row: 10/11;
}

.rnpLoc{
    grid-column:2/3;
    grid-row: 11/12;
}