.subSection{
    grid-column: 1/2;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.subSection .div{
    display: inline-block;
}

.subSectionTitle{
    /*display: inline-block;*/
    font-weight: bold;
    margin-right: 2%;
    float: left;
}