$noaaBlue: rgb(16, 51, 98);

$textColor: rgb(102,102,102);

.container{
    background-color: transparent;
    display: grid;
    height: 20%;
    width: 100%;
    grid-template-columns: 19% 1% 19% 1% 19% 1% 19% 1% 19% 1%;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: center;
    align-self: flex-end;
    bottom:0;
    flex: none;
    justify-self: flex-end;
    border-top: 1px solid $textColor
}

.about{
    color: $textColor;
    margin: 0;
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
}

.aboutContainer{
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: start;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
}


.work{
    color: $textColor;
    margin: 0;
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
}

.workContainer{
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: start;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
}

.social{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    align-self: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.stayConnected{
    grid-column: 7/8;
    grid-row: 1/2;
    justify-self: end;
    color:$textColor;
}

.addLinkContainer{
    grid-row: 3/4;
    grid-column: 5/12;
    justify-self: end;
    margin-right: 2%;
}

.addLinkContainer p{
    text-align: right;
    color: $textColor;
    text-wrap: normal;
}


@media screen and (max-width: 555px){
    .stayConnected{
        grid-column: 7/10;
        grid-row: 1/2;
    }

    .social{
        grid-column: 9/10;
        grid-row: 2/3;
    }

}


@media screen and (max-width: 610px){
    .stayConnected{
        grid-column: 7/10;
    }
    .social{
        grid-column: 9/10;
        grid-row: 2/3;
    }
}