.subSection{
    grid-column: 1/2;
    width: 100%;
}

.subSection .div{
    display: inline-block;
}

.subSectionTitle{
    display: inline-block;
    font-weight: bold;
    margin-right: 2%;
}

.radioDiv{
    display: inline-block;
    margin: 0 .5% 0 .5%;
}

.text{
    display: inline-block;
}