$noaaBlue: rgb(16, 51, 98);
$menuTextColor: rgb(102,102,102);

.container{
    height:15%;
    width: 100%;
    background-color: transparent;
    padding: 1% 0 1% 0;
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}

.logoContainer{
    grid-column: 1/2;
    min-height: 100%;
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
}

.noaaTitle a{
    font-size: 1.5rem;
    text-decoration: none;
    color: $menuTextColor;
}

.noaaTitle{
    grid-column: 3/4;
    align-self: center
}

.imgContianer{
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.imgContianer img{
    display:block;
    max-height:100%;
    justify-self: end;
}

.mainMenuUl{
    padding: 0;
    margin: 0;
    white-space: nowrap;
}



.mainMenuListItem{
    display: inline-block;
    height: 100%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    vertical-align: middle;
}

.mainMenuListItem a{
    text-decoration: none;
    color: $menuTextColor;
    transition: color .2s ease-out;
    margin: 0;
}

.mainMenuListItem:hover a{
    color: cyan
}

.mainMenuListItemDropper{
    display: inline-block;
    height: 100%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    vertical-align: middle;
}

.mainMenuListItemDropper a{
    text-decoration: none;
    color: $menuTextColor;
    transition: color 500ms ease-out;
    margin: 0;
}

.mainMenuListItemDropper:hover .hazLink{
    color: cyan;
}

.mainMenuListItemDropper:hover .hpContentUl{
    display: block;
}

.hazLink i{
     height: 100%;
     vertical-align: middle;
 }

.tsunamiLnk i{
    height: 100%;
    vertical-align: middle;
    position: absolute;
    right: 0;

}

.hazardPages{
    grid-column: 2/3;
    justify-self: center;
    flex:1;
    text-align: left;
    align-self: center;
    background-color: transparent;
    width: auto;
}

.hazardPages li{
    list-style-type: none;
}

.hazardPages:hover{
    cursor: pointer;
    overflow: visible;
    z-index: 2;
}

.hazardPages .hpContentUl{
    display:none;
}

.hpContentUl{
    margin: 0;
    padding: 0;
    padding-left:5%;
    padding-right: 5%;
    background-color: white;
    position: absolute;
    width: 120%;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 100%;
}

.hpContentUl li{
    margin: 5% 5% 5% 5%;
    background-color: white;
    position: relative;
    display: block;
    color: $menuTextColor
}

.hpContentLi a{
    color: $menuTextColor;
    transition: color .2s ease-out;
}

.hpContentLi a i{
    position: absolute;
    right:0;
}

.hpContentLi:hover a{
    color: cyan;
}

.nestedUl{
    width: 100%;
    display: none;
    background-color: white;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding:0;
    margin: 0;
    position: absolute;
    left: 100%;
    top: 0;
    padding-left: 5%;
    padding-right: 5%;

}

.nestedList:hover .nestedUl{
    display: block;
}

.nestedList .tsunamiLink{
    color:$menuTextColor;
    transition: color .2s ease-out;
}

.nestedList:hover .tsunamiLink{
    color:cyan;
}

.nestedUl li{
    position: relative;
    width: 100%;
}

.nestedList a i{
    position: absolute;
    right:0;
}
