.modal{
    display: block;
    width: 100%;
    z-index: 1;
    height: auto;
    background-color: white;
    overflow: auto;
}

.modalContent{
    width: auto;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-itmes: flex-start;
}

.close{
    align-self: flex-end;
}

.title{
    align-self: center;
    margin: 0;
}

