$noaaBlue: rgb(16, 51, 98);
$menuTextColor: rgb(102,102,102);

.container{
    height:5%;
    width: 100%;
    background-color: transparent;
    padding: 1% 0 1% 0;
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    border-bottom: 1px solid rgb(108,109,109);
}

.logoContainer{
    grid-column: 1/2;
    min-height: 100%;
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
}

.noaaTitle a{
    font-size: 2rem;
    text-decoration: none;
    color: $menuTextColor;
}

.noaaTitle{
    grid-column: 3/4;
    align-self: center
}

.imgContianer{
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.imgContianer img{
    display:block;
    max-height:100%;
    max-width: 100%;
    justify-self: end;
    align-self: center;
}

.mainMenuUl{
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.mainMenuListItem{
    display: inline-block;
    height: 100%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    vertical-align: middle;
}

.mainMenuListItem a{
    text-decoration: none;
    color: $menuTextColor;
    margin: 0;
}

.mainMenuListItem:hover a{
    color: cyan
}

.mainMenuListItemDropper{
    display: inline-block;
    height: 100%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    vertical-align: middle;
}

.mainMenuListItemDropper a{
    text-decoration: none;
    color: $menuTextColor;
    margin: 0;
}

.mainMenuListItemDropper:hover .hazLink{
    color: cyan;
}

.mainMenuListItemDropper:hover .hpContentUl{
    display: block;
}

.hazLink i{
    height: 100%;
    vertical-align: middle;
    margin-left: 1%;
}

.hazardPages{
    grid-column: 2/3;
    justify-self: center;
    flex:1;
    text-align: center;
    align-self: center;
    background-color: transparent;
    width: 100%;
}

.hazardPages li{
    list-style-type: none;
}

.hazardPages:hover{
    cursor: pointer;
    overflow: visible;
    z-index: 2;
}
